*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: $color-background;
    color: $color-text;
}

a[data-custom-link="true"],
a[data-custom-link="true"]:visited {
    text-decoration: none;
    color: inherit;
}

a:not([data-custom-link="true"]),
a:not([data-custom-link="true"]):visited {
    color: $color-blue;
    text-decoration: none;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    border: none;
    background-color: #fff;
    padding: 0.9375rem 1rem 1.125rem 2.375rem; 
    font-size: 0.75rem;
    background-repeat: no-repeat;
    background-size: 15px 14px;
    background-position: top 15px left 13.5px;
    font-family: inherit;
    font-weight: 500;
    color: $color-logo-dark;
    border-radius: 4px;

    &::placeholder {
        color: darken($color-input, 20%);
    }
}

button {
    cursor: pointer;
}

ul {
    padding-left: 1.5rem;
    margin-top: 1rem;

    li:not(:first-child) {
        margin-top: .5rem;
    }
    
    li {
        line-height: 1.6;
    }
}