<section *ngIf="job; else loading">
    <aside class="details__aside">
        <a routerLink="/" class="flex align-center">
            <img src="../../assets/long-arrow-left.svg" alt="" class="details__icon">
            <span>Back to search</span>
        </a>
        <strong class="h3-secondary details__apply">How to apply</strong>
        <p [innerHTML]="job.how_to_apply"></p>
    </aside>
    <article>
        <div class="details__heading">
            <h2>{{ job.title }}</h2>
            <p class="flag details__flag" *ngIf="job.type">
                Full time
            </p>
        </div>
        <div class="icon-text">
            <img src="../../assets/clock.svg" alt="">
            <span>{{ daysElapsed }} days ago</span>
        </div>
        <div class="flex align-center details__profile">
            <div class="details__img-wrapper">
                <img [src]="job.company_logo" alt=""  class="details__logo">
            </div>
            <div>
                <h3 class="details__h3">{{ job.company }}</h3>
                <div class="icon-text">
                    <img src="../../assets/earth.svg" alt="">
                    <span>New York</span>
                </div>
            </div>
        </div>
        <p class="details__text" [innerHTML]="job.description"></p>
    </article>
</section>
<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
