@import "../styles/variables/colors";

header {
    margin-bottom: 2rem;
}

h1 {
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;

    a {
        color: $color-logo-dark;
    }

    span {
        font-weight: 300;
    }
}