<article class="card">
    <a href="#" class="card__wrapper flex">
        <div class="card__img-wrapper">
            <img src="../../../../assets/backgroundImg.png" alt="" class="card__img">
        </div>
        <div class="card__text">
            <strong class="card__company">Kasisto</strong>
            <h3 class="card__job">Front-End Software Engineer</h3>
            <p class="card__flag">Full time</p>
            <div class="card__details flex align-center">
                <div class="flex align-center">
                    <img src="../../../../assets/earth.svg" alt="" class="card__icon">
                    <span class="card__icon-description">New york</span>
                </div>
                <div class="flex align-center">
                    <img src="../../../../assets/clock.svg" alt="" class="card__icon">
                    <span class="card__icon-description">5 days ago</span>
                </div>
            </div>
        </div>
    </a>
</article>