<article class="card">
    <a class="card__wrapper flex" data-custom-link="true" (click)="navigateToDetailsPage()">
        <div class="card__img-wrapper">
            <img [src]="job.company_logo" alt="" class="card__img">
        </div>
        <div class="card__text">
            <strong class="card__company">{{ job.company }}</strong>
            <h3 class="card__job">{{ job.title }}</h3>
            <p class="flag card__flag" *ngIf="job.type">{{ job.type }}</p>
            <div class="card__details flex align-center">
                <div class="icon-text">
                    <img src="../../../../assets/earth.svg" alt="">
                    <span>{{ job.location }}</span>
                </div>
                <div class="icon-text">
                    <img src="../../../../assets/clock.svg" alt="">
                    <span>{{ daysAgo }} days ago</span>
                </div>
            </div>
        </div>
    </a>
</article>

<!-- [routerLink]="['/', job.id]" -->