@import "../../../../styles/variables/colors";
@import "../../../../styles/variables/breakpoints";

.card {
    margin-bottom: 1.4375rem;

    &__wrapper {
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(#000, .05);
        border-radius: 4px;
        padding: 0.75rem;
    }

    &__img-wrapper {
        width: 5.625rem;
        height: 5.625rem;
        margin-right: 1rem;
    }

    &__img {
        width: 5.625rem;
        height: 5.625rem;
        object-fit: contain;
        border-radius: 4px;
    }

    &__company {
        font-size: 0.75rem;
    }

    &__job {
        font-size: 1rem;
        font-weight: 400;
        padding-top: .5rem;
        padding-bottom: 0.875rem;
    }

    &__details {
        margin-top: 1.625rem;

        div:not(:last-child) {
            margin-right: 1.78125rem;
        }
    }

    @include breakpoints-up("medium") {
        &__text {
            display: grid;
            width: 100%;
        }
    
        &__details {
            grid-row: 3/4;
            margin: 0;
            justify-self: end;
        }

        .flag {
            grid-row: 3 / 4;
        }

        h3 {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
        }
    }
}