@import "../../styles/variables/colors";

.main-form {
    padding: 2.5625rem 1.125rem;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 1.8125rem;

    img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .form-field {
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        padding: 0.3125rem;
        background-color: #fff;
        border-radius: 4px;

        input {
            background-image: url("../../assets/suitcase.svg");
        }
    }
}

.secondary-form {
    font-family: Poppins; 
    margin-bottom: 1.4375rem;

    .form-group {
        input[type="checkbox"]:checked + label::before,
        input[type="radio"]:checked + label::before
         {
            background-color: $color-blue;
            border-color: $color-blue;
        }

        input[type="checkbox"]:focus + label::before,
        input[type="radio"]:focus + label::before {
            border-color: $color-blue;
        }

        &-indent {
            padding-left: 0.875rem;
        }
    }

    label {
        font-size: 0.875rem;
        font-weight: 500;
        // color: $color-text;
        cursor: pointer;

        span {
            margin-left: 0.75rem;
        }
    }

    .location {
        margin-bottom: 1.6875rem;

        h3 {
            font-size: 0.875rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-input;
            margin-bottom: 0.875rem;
            margin-top: 2.1875rem;
        }

        input {
            background-image: url("../../assets/earth.svg");
            background-position: top 18px left 14px;
            box-shadow: 0 2px 4px 0 rgba(#000, 5%);
        }
    }

    .radios {

        .form-group:not(:first-child) {
            margin-top: 0.979375rem;
        }
    }
}